<div id="stock_hot_container">
  <%= image_tag("welcome_hot.jpg")%>
  <div id="stock_hot">
    <div id="yahoo_update">
      5月19日14時更新・値動き（yahooファイナンスより）
    </div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>銘柄</th>
          <th>市場</th>
          <th>株価</th>
          <th>前日比</th>
          <th>出来高</th>
          <th>出来高前日比</th>
          <th>始値</th>
          <th>高値</th>
          <th>安値</th>
        </tr>
      </thead>
      <tbody>
        <% @stocks[0..10].each do |stock| %>
          <tr>
            <td><%= stock.code %>&nbsp;&nbsp;&nbsp;<%= link_to stock.name, stock_path(stock.id) %></td>
            <td><%= stock.market %></td>
            <td><%= stock.price %></td>
            <td><%= stock.previousprice %></td>
            <td><%= stock.volume %></td>
            <td><%= stock.previousvolume %></td>
            <td><%= stock.opening %></td>
            <td><%= stock.high %></td>
            <td><%= stock.low %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<div class="welcome_index_box">
  <%= image_tag("welcome_summary.jpg")%>
  <div class="box">
    aaa
  </div>
</div>
<div class="welcome_index_box">
  <%= image_tag("welcome_top50.jpg")%>
  <div class="box">
    aaa
  </div>
</div>
<div class="welcome_index_box">
  <%= image_tag("welcome_news.jpg")%>
  <div class="box">
    aaa
  </div>
</div>