<%= image_tag('inquiry_bar.jpg')%>

<%= form_for @inquiry, url: {action: 'inquiry_create'} do |f| %>
  <table class="inquiry">
    <tr>
      <td>メールアドレス</td>
      <td><%= f.text_field :address %></td>
    </tr>
    <tr>
      <td>内容</td>
      <td><%= f.text_area :content, size: "50x10" %></td>
    </tr>
  </table>
  <%= f.submit %>
<% end %>
