<div class="main">
  <%= image_tag("borads_kobetu.jpg")%>
  <p id="notice"><%= notice %></p>
  <% if @board.stock_id %>
    <h2><%= "【" + @board.stock_id.to_s+ "】" + @board.title + "の口コミ、投資情報" %></h2>
  <% else %>
    <%= @board.title + "の口コミ" %>
  <% end %>
  <div>
    <% if @board.comments[0] %>
      <% comment = @board.comments[0] %>
      <%= "1" %> <%= comment.sender %>　<%= complete_time(comment.created_at) %><br>
      <%= comment.contents %>
    <% end %>
  </div>
  <br>
  <% @board.comments.delete_at(0) %>
  <% @board.comments.each.with_index(2) do |comment,i| %>
    <div>
      <%= i %> <%= comment.sender %>　<%= complete_time(comment.created_at) %><br>
      <%= comment.contents %>
    </div>
  <% end %>
  <% @comment = Comment.new %>
  <%= form_for(@comment, url: post_comment_board_path(@board.id)) do |f| %>
    <div class="field">
      お名前:<%= f.text_field :sender %>
    </div>
    <div class="field">
      内容<br />
      <%= f.text_area :contents, :size => "50x10" %>
    </div>

    <div class="actions">
      <%= f.submit %>
    </div>

    
  <% end %>
</div>