<% stock = @stock %>
<h1><%= stock.name %></h1>
<table class="stock_info">
  <tr><td>現在株価</td><td><%= stock.price %></td></tr>
  <tr><td>前日比</td><td><%= stock.code %></td></tr>
  <tr><td>前日終値</td><td><%= stock.previousprice %></td></tr>
  <tr><td>始値</td><td><%= stock.opening %></td></tr>
  <tr><td>高値</td><td><%= stock.high %></td></tr>
  <tr><td>安値</td><td><%= stock.low %></td></tr>
  <tr><td>出来高</td><td><%= stock.volume %></td></tr>
  <tr><td>売買代金</td><td><%= stock.code %></td></tr>
</table>
<%= image_tag(stock.chart)%>
<%= image_tag('stock_pickup.jpg')%>
<%= image_tag('stock_blog.jpg')%>
<%= image_tag('stock_twitter.jpg')%>
<%= image_tag('stock_borad.jpg')%>
<%= image_tag('stock_2ch.jpg')%>
<%= image_tag('stock_2ch2.jpg')%>
<%= image_tag('stock_textream.jpg')%>