<%= @stock.name %><br>
<%= stock = @stock %>
<table class="table table-striped">
  <thead>
    <tr>
      <th>コード</th>
      <th>銘柄</th>
      <th>市場</th>
      <th>株価</th>
      <th>前日比</th>
      <th>出来高</th>
      <th>出来高前日比</th>
      <th>始値</th>
      <th>高値</th>
      <th>安値</th>
      <th>前日比</th>
      <th>安値</th>
    </tr>
  </thead>
  <tbody>
      <tr>
        <td><%= stock.code %></td>
        <td><%= link_to stock.name, stock_path(stock.id) %></td>
        <td><%= stock.market %></td>
        <td><%= stock.price %></td>
        <td><%= stock.previousprice %></td>
        <td><%= stock.volume %></td>
        <td><%= stock.previousvolume %></td>
        <td><%= stock.opening %></td>
        <td><%= stock.high %></td>
        <td><%= stock.low %></td>
        <td><%= @doc %></td>
      </tr>
  </tbody>
</table>